/* src/App.css */
.App {
  text-align: center;
  background-color: #F5EFE6; /* fond */
  min-height: 100vh;
  color: #3E2C23;
  font-family: 'Helvetica Neue', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #E0D7C6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3E2C23;
}

.App-link {
  color: #6B4C3B;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
