/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles globaux */
html, body {
  height: 100%;
  background-color: #F5EFE6; /* ton fond crème */
  font-family: 'Helvetica Neue', sans-serif;
  color: #3E2C23; /* texte marron foncé */
  margin: 0;
  padding: 0;
}

/* Scrollbar custom (optionnel) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F5EFE6;
}

::-webkit-scrollbar-thumb {
  background-color: #6B4C3B;
  border-radius: 4px;
}
